@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
}



.main-screen{
    background-color: hsl(212, 45%, 89%);
    display: flex;
    min-height: 97vh;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit', sans-serif;
}

.card{
    background-color: white;
    max-width: 250px;
    border-radius: 10px;
    padding: 2rem;
    margin: 0 1rem;
    -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
-moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

.card img {
    width: 100%;
    border-radius: 10px;
    margin: 0 auto;
    
}

.notes{
    text-align: center;
}

.notes p {
 color: hsl(220, 15%, 55%);
 margin-top: 1rem;
 font-size: 15px;
 font-weight: 400;

}

.notes h1{
    font-weight: bold;
    margin-top: 1rem;
    color: hsl(218, 44%, 22%);
    font-weight: 700;
}

body{
    background-color: hsl(218, 44%, 22%);
}
footer {
    text-align: center;
    background-color: hsl(218, 44%, 22%);
    color: white;
    font-size: 14px;
    font-family: 'Outfit', sans-serif;
}

footer a {
    color: lightskyblue;
}


